doctype html
html
  head
    title= title
  body
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/signup") Signup
        li
          a(href="/login") Login
        li
          a(href="/logout") Logout
    block content
