extends layout

block content
  h1= title
  form#formLogin(action='/', method='POST')
    div
      label Private Key:
      input(type="text", name="vk", id="vk", required)
    div
      input(type="submit", value="Log in" id='login')

  script(src='https://code.jquery.com/jquery-3.6.0.min.js', integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=', crossorigin='anonymous')
  script(src='/javascripts/sjcl.js')
  script(src='/javascripts/bitArray.js')
  script(src='/javascripts/aes.js')
  script(src='/javascripts/sha256.js')
  script(src='/javascripts/random.js')
  script(src='/javascripts/bn.js')
  script(src='/javascripts/ecc.js')
  script(src='/javascripts/client.js')
  script(src='/javascripts/login.js')
  if errors
    ul
      li!= errors
